/* Order in this file - media queries, HTML tags, classes and ids*/

/* Media queries */
@media only screen and (max-width: 425px) {
  #bottom-btn {
    margin-top: 5%;
  }
}

/* HTML tags */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* Classes */
.bg-color-main {
  background-color: #84d1c9;
}

.grid-item {
  width: 25%;
}

.test {
  background-image: url("../img/1.jpg");
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 40%;
  min-height: 100%;
}

/* Ids */
#footer-text {
	text-align: center;
}

#auth-card {
  margin-top: 5%;
}