body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  background-color: #4DB6AC;
}

#index-panel {
  margin-top: 20%;
}

#left-btn {
  float: right;
  margin-right: 5%;
}

#right-btn {
  margin-left: 5%;
}