/* Order in this file - media queries, HTML tags, classes and ids*/

/* Media queries */
@media only screen and (max-width: 425px) {
  #add-tran-card, #auth-card {
    margin-top: 53% !important;
    padding: 0 !important;
    margin-left: -25% !important;
    margin-right: -25% !important;
  }
  #home-card {
    margin-top: 10% !important;
  }
}

@media only screen and (min-width: 425px) and (max-height: 650px) {
  #auth-card {
    margin-top: 10% !important;
    padding: 0 !important;
    margin-left: -25% !important;
    margin-right: -25% !important;
  }
  #home-card {
    margin-top: 10% !important;
  }
}

@media only screen and (min-width: 651px) and (max-height: 1199px) {
  #add-tran-card{
    margin-top: 8% !important;
  }
  #home-card {
    margin-top: 2% !important;
  }
}

@media only screen and (min-width: 1200px){
  #home-card {
    margin-top: 5% !important;
  }
}


/* HTML tags */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

table {
  max-width: 80%;
  margin-left: 10% !important;
}

td, tr {
  text-align: center !important;
}

/* Classes */
.bg-color-main {
  background-color: #84d1c9;
}

input[type=search] {
  padding: 0 !important;
  padding-left: 3px !important;
  margin-left: 0 !important;
  height: 26px;
  font-size: 18px !important;
}

.disabled {
    pointer-events:none;
    opacity:0.6;         
}

.hide {
  display: none;
}

.test {
  background-image: url("../img/1.jpg");
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 40%;
  min-height: 100%;
}

/* Ids */


#auth-card {
  margin-top: 20%;
}

#footer-text {
	text-align: center;
}

#home-card {
  margin-top: 2.5%;
}

#trans-card {
  margin-top: 2.5%;
  margin-left: 10%;
  max-width: 80%;
}

ul li a i:hover, ul li a:hover, nav div a:hover{
  color: white !important;
}