{% extends 'organizer/base.html' %}
{% load static %}

{% block _title %}Home{% endblock %}

{% block content %}
<main class="bg-color-main">
	<div class="container" id="home-card">
		<div class="card white z-depth-4">
            <div class="card-content black-text">
				{% if user.is_authenticated %}
					<p>Welcome, {{ user.username }}. Thanks for logging in.</p>
				{% endif %}
			</div>
		</div>
		<div class="card white z-depth-4">
			<div class="card-content black-text"> 
				{{request.args.get}}        
				<p>Your transactions: </p>
				<ol>
					{% if not transaction_list %}
						<p>You don't have any transactions</p>
					{% else %}
						{% for i in transaction_list %}
							<li>{{ i.product }}</li>
						{% endfor %}
					{% endif %}
				</ol>
				<a href="{% url 'organizer:all_transactions' %}"> All transactions </a>
			</div>
		</div>
	</div>

</main>
{% endblock %}

{% block extra_js %}
<script src="{% static "organizer/js/navbar_buttons.js" %}"></script>
<script src="{% static "organizer/js/custom_datatables.js" %}"></script>
{% endblock %}
