{% extends 'organizer/base.html' %}
{% load static %}

{% block content %}
<main class="test">
   <div class="row">
      <div class="col s12 m3">
         <div class="card white z-depth-4" id="info1-card" style="text-align: justify">
            <div class="card-content black-text">
               <p>Financizer is a simple and effective tool, which helps with management of your finances.</p>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col s12 m3">
         <div class="card white z-depth-4" id="info2-card" style="text-align: justify">
            <div class="card-content black-text">
               <p>Store your transactions and view statistics. Find out which things you spend the most on.</p>
            </div>
         </div>
      </div>
   </div>
</main>
{% endblock %}