{% extends 'organizer/base.html' %}
{% load static %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="card-panel hoverable" id="index-panel"> Hoverable Card Panel</div>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <a class="waves-effect waves-light btn red" id="left-btn">button</a>
      </div>
      <div class="col s6">
        <a class="waves-effect waves-light btn red" id="right-btn">button</a>
      </div>
    </div>
  </div>

{% endblock %}